.Rproj.user
.Rhistory
.RData
.Ruserdata
_ref
.00_archive
.999_cassie_scratch
999_cassie_scratch
dotm_MASTER_Glossary_Word_2023-10-14.dotm
.ipynb_checkpoints
.jupyter
.virtual_documents
install_packages.ipynb
.misc
06_references_master_2024-08-06.xlsx
.00__02_rec_sample-design.docx
00__02_rec_sample-design.docx
00__99_other-resources.docx
00_markdown_format_NOTES.docx
adapted_wildcam.md
lu_species_homerange
.lu_species_homerange